<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Monday Night Homework - APIs</title>
  </head>
  <body>
    <h1>Book Search</h1>

    <form action="/book" >

      <label>
        Book Title:
        <input type="text" name="book" placeholder="Enter Title here">
      </label>
      <button>Search</button>
    </form>

  </body>
</html>
